<dx-data-grid
  keyExpr="id"
  id="gridContainer"
  [dataSource]="movies"
  [showBorders]="true"
>
  <dxo-header-filter [visible]="true"></dxo-header-filter>

  <dxi-column
    dataField="poster"
    [width]="80"
    [allowFiltering]="false"
    [allowSorting]="false"
    cellTemplate="posterTemplate"
  ></dxi-column>
  <dxi-column
    dataField="title"
    [width]="400"
    cellTemplate="titleTemplate"
  ></dxi-column>
  <dxi-column dataField="language" [width]="150"></dxi-column>
  <dxi-column dataField="location" [width]="150"></dxi-column>
  <dxi-column
    dataField="plot"
    cssClass="plot"
    [allowFiltering]="false"
    [allowSorting]="false"
  ></dxi-column>

  <div *dxTemplate="let data of 'posterTemplate'">
    <img [src]="data.value" />
  </div>

  <div *dxTemplate="let template of 'titleTemplate'">
    <a [routerLink]="['/movie', template.data.id]">{{ template.value }}</a>
  </div>
</dx-data-grid>
